.container-form {
    display: grid;
    height: 100vh;
    justify-content: center;
    align-content: center;
    font-size: 16px;
}
.row-form {
    background-color: #baced5;
    padding: 25px;
    color: #012c59;
    width: 50vh;
}

.row-form-add-process {
    background-color: #baced5;
    padding: 25px;
    color: #012c59;
    width: 50vh;
}

.row-form-list-process {
    background-color: #baced5;
    margin-top: 40px;
}

.background-body {
    background: url('../img/background-form.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#alert-desable {
    display: none;
}

#alert-desable-ingreso {
    display: none;
}

#alert-desable-proceso {
    display: none;
}

#alert-desable-proceso-up {
    display: none;
}

#alert-success {
    display: none;
}

.img-form-login {
    margin-bottom: 15px;
}